<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEWS PORTAL APP</title>
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
</head>
<body>
    <h1>Welcome To My News Portal </h1>
    <ul>
        <li><a href="{% url 'movie' %}">Movies Information</a></li>
        <li><a href="{% url 'sport' %}">Sports Information</a></li>
        <li><a href="{% url 'politics' %}">Politics Information</a></li>
    </ul>
</body>
</html>