{% extends 'index.html' %}
{% block title %}About Page{% endblock %}
{% block content %}
<h1>About Me</h1>
<p>I am a passionate Python developer with a strong foundation in web development and data manipulation. My expertise lies in leveraging Python and its ecosystem to build robust applications and extract meaningful insights from data. Here’s a snapshot of my skills:

    Python Development: Proficient in Python programming with a focus on backend development, scripting, and automation.
    
    Web Development: Experienced in building web applications using Django and Flask frameworks. Skilled in creating RESTful APIs to deliver seamless user experiences.
    
    Database Management: Proficient in MySQL for structured data storage and retrieval, ensuring efficient data handling in applications.
    
    Web Scraping: Experienced in extracting data from websites using Python libraries like BeautifulSoup and Scrapy, ensuring accurate and efficient data collection.
    
    Data Analysis: Skilled in data manipulation and analysis using libraries such as Pandas and NumPy, extracting insights and visualizing data to support informed decision-making.
    
    Automation: Proficient in using Selenium for web automation tasks, streamlining processes and improving efficiency.
    
    Frontend Development: Familiar with HTML, CSS, and JavaScript, capable of integrating frontend components with backend functionalities for cohesive web applications.
    
    <h3>Portfolio Highlights</h3>

    Project A: Developed a scalable web application using Django, integrating MySQL for data management and Flask API for serving machine learning models via RESTful endpoints.
    
    Project B: Implemented web scraping scripts with BeautifulSoup to gather real-time data from multiple sources, facilitating dynamic content updates for a client's website.
    
    Project C: Analyzed large datasets using Pandas and NumPy, creating interactive visualizations with Matplotlib to present key insights to stakeholders.
    
    <h3>Education</h3>

    Bachelor's Degree in Computer Science, <p>Davv, Indore,2022</p>
    Master's of computer Application, <p>Sage University, Indore, 2024</p>
{% endblock %}